<!--<h2>Applicaion Angular 13</h2>
<courses></courses>
<app-course></app-course>
<p>{{ body | resume : 100}}</p>-->
<!--<app-fafourite [is-favorite]="post.isFavorite " (nv-change)="myFonction($event)"></app-fafourite>
<panel >
    <div class="header">This is the header</div>
    <div class="body">This is the body</div>
</panel>-->

<!--<div *ngIf="courses.length > 2 ; then listCourses else noCourses"></div>
<ng-template #listCourses>
    List de mes cours
</ng-template>
<ng-template #noCourses>
    pas de cours
</ng-template>-->
<!-- OU--> 
<!--<div [hidden]="courses.length == 0">
    List de mes cours
</div>
<div [hidden]="courses.length > 0">
    pas de cours
</div>-->

<!--<ul class="nav nav-pills">
    <li [class.active]="viewCourse == 'Laravel'"><a (click)="viewCourse = 'Laravel'"></a>Laravel</li>
    <li [class.active]="viewCourse == 'Angular'"><a (click)="viewCourse = 'Angular'"></a >Angular</li>
    <li [class.active]="viewCourse == 'Symfony'"><a (click)="viewCourse = 'Symfony'"></a>Symfony</li>
</ul>
<div [ngSwitch]="viewCourse">
    <div *ngSwitchCase= "'Laravel'"> lorem laravel </div>
    <div *ngSwitchCase= "'Angular'"> lorem angular </div>
    <div *ngSwitchCase= "'Symfony'"> lorem symfony </div>
    <div *ngSwitchDefault>Autre Choose...</div>
</div>-->
<!--<course></course>
<fafourite></fafourite>-->
<!--<br>
<input type="text" [appInputFormat]="'aaa'">-->
<br>
<!--<div class="container">
    <div class="col-md-6 col-md-offset-3">
        <contact-form></contact-form>
    </div>
</div>-->
<br>
<!--<div class="container">
    <div class="col-md-2 col-md-offset-4">
        <signup-form></signup-form>
    </div>
</div>-->

<div class="container">
    <div class="col-md-2 col-md-offset-4">
        <navbar></navbar>
        <router-outlet></router-outlet>
    </div>
</div>

